<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    
    <link href="<%= @settings['location'] %>style/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type='text/javascript'> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type='text/javascript'></script> 
    <script src="<%= @settings['location'] %>style/jquery.flip.min.js" type='text/javascript'></script>
    <script src="<%= @settings['location'] %>style/jflip.js" type="text/javascript"> </script>
    <title><%= @settings['title'] %></title>

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-973454-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


</head>

<!-- BITCH, I'M A BUSBUS... powered website. -->
<body>

<div class='container'>

<ul class='things'>
   
    <li class='sidebar' id="home">
        <ul> 
            <li class='flippy grid grid_4 title'><h1><a href='<%= @settings['location']%>index.html'><%= @settings['title'] %></a></h1></li>
