
.container
{
    min-width: 260px;
    max-width: 1100px;
    margin: auto;
    font-family: 'Verdana', serif;
    font-weight: 300;
}

h1
{
    margin-top: 0;
    font-size: x-large;
}

#header
{
    text-align: center;
}

.things ul
{
    padding: 0;
}

.things li
{
    list-style-type: none;
}

.sidebar 
{
    width: 280px;
    overflow: hidden;
    float: left;
}

.grid
{
    background-color: #6cc0e5;
    color: white;
    text-align: center;
    /*font-family: "Helvetica", "Arial", sans-serif;*/
    font-weight: bold;
    overflow: hidden;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0 5px 0 5px;
}

.grid_2
{
    width: 120px;
    height: 120px;
}

.grid_4
{
    width: 260px;
    height: 120px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}

.grid_6
{
    width: 400px;
    height: 120px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}

.square_4
{
    width: 260px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}

.square_6
{
    width: 400px;
    height: 250px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
}

.grid .date
{
    font-style: normal;
    display: block;
    font-size: large;
    font-weight: bold;
    margin-bottom: 3px;
}

.grid a
{
    font-weight: normal;
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
}

.comics
{
    background-color: #fb4f4f;
}

.needlessly_technical
{
    background-color: #fbc93d;
}


.article
{
    min-width: 300px;
    max-width: 720px;
    padding-left: 290px;
    font-family: Georgia, serif;
}

.article ul, .article ol
{
    padding-left: 40px;
}

.article ul li
{
    list-style-type: circle; 
    margin-bottom: 4px;
}

.article ol li
{
    list-style-type: lower-roman; 
    margin-bottom: 4px;
}

#irc
{
    padding: 10px;
    font-family: Consolas, monospace;
}

#irc li
{
    list-style-type: none;
    background-color: #EFEFEF;
}

#irc li:nth-of-type(2n)
{
    background-color: #DEDEDE; 
}

#irc .other
{
    font-style: italic;
}

br
{
    margin-bottom: 8px;
}
